<div style="display: flex; min-height: 100vh;">
  <aside style="width: 250px; background: #eee; padding: 1rem;">
    <h3>Blog Posts</h3>
    <ul>
      <% BlogPost.all.each do |post| %>
        <li><%= link_to post.title, blog_post_path(post) %></li>
      <% end %>
    </ul>
  </aside>
  <main style="flex: 1; padding: 2rem;">
    <%= yield %>
  </main>
</div>
